/*
Error: Invalid CSS after "...ova, sans-serif": expected "{", was ";"
        on line 9 of /Users/jimtritt/Desktop/GRD 220 - Applied 2D Graphics WEB Fall 2020/Projects/final project/jimtrittwebdeveloper/sass/font.scss

4:     font-weight: 700;
5: font-style: normal;
6: }
7: 
8: 
9: font-family: gill-sans-nova, sans-serif;
10: font-weight: 700;
11: font-style: normal;
12: 
13: font-family: gill-sans-nova, sans-serif;
14: font-weight: 400;

Backtrace:
/Users/jimtritt/Desktop/GRD 220 - Applied 2D Graphics WEB Fall 2020/Projects/final project/jimtrittwebdeveloper/sass/font.scss:9
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/private/var/folders/lc/94n875r53p3c58rm79qv5plw0000gn/T/AppTranslocation/91D4CD59-9E3E-4052-A88C-A7D9324EC651/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ova, sans-serif\": expected \"{\", was \";\"\A         on line 9 of /Users/jimtritt/Desktop/GRD 220 - Applied 2D Graphics WEB Fall 2020/Projects/final project/jimtrittwebdeveloper/sass/font.scss\A \A 4:     font-weight: 700;\A 5: font-style: normal;\A 6: }\A 7: \A 8: \A 9: font-family: gill-sans-nova, sans-serif;\A 10: font-weight: 700;\A 11: font-style: normal;\A 12: \A 13: font-family: gill-sans-nova, sans-serif;\A 14: font-weight: 400;"; }
