@font-face {
    font-family: $PrimaryFont;
    src: url(https://use.typekit.net/bid8all.css);
    font-weight: 700;
font-style: normal;
}


font-family: gill-sans-nova, sans-serif;
font-weight: 700;
font-style: normal;

font-family: gill-sans-nova, sans-serif;
font-weight: 400;
font-style: normal;